/* Estilos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    color: darkgray;
}

h1 {
    font-size: 2rem;
    color: darkgray;
    text-align: center;
    margin-top: 20px;
}

p {
    font-size: 1rem;
    color: dimgray;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: mediumblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo de el formulario */
#cookie-banner {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: darkgray;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    z-index: 9999;
}

#cookie-banner button {
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#cookie-banner .reject-btn {
    background-color: firebrick;
}

#cookie-banner button:hover {
    background-color: darkgreen;
}

#cookie-banner .reject-btn:hover {
    background-color: darkred;
}

#cookie-banner a {
    color: mediumblue;
    text-decoration: none;
}

#cookie-banner a:hover {
    text-decoration: underline;
}

header {
    background-color: mediumblue;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav a {
    margin: 0 15px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 1rem;
}

/* Estilo para el formulario */
form {
    text-align: center;
}

form button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: darkgreen;
}

form .reject-btn {
    background-color: firebrick;
}

form .reject-btn:hover {
    background-color: darkred;
}


ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    background-color: forestgreen;
    color: white;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}

